<div class="card">
  <h5>Virtual Scroll with Preloaded Data (10000 Rows)</h5>
  <p-table
    [columns]="cols"
    [value]="cars"
    [scrollable]="true"
    scrollHeight="250px"
    [virtualScroll]="true"
    [virtualScrollItemSize]="46"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="width: 20%;">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-rowIndex="rowIndex"
      let-columns="columns"
    >
      <tr style="height:46px">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>
    Virtual Scroll with Lazy Loading from a Remote Datasource (10000 Rows)
  </h5>
  <p-table
    [columns]="cols"
    [value]="virtualCars"
    [scrollable]="true"
    scrollHeight="250px"
    [rows]="100"
    [virtualScroll]="true"
    [virtualScrollItemSize]="46"
    [lazy]="true"
    (onLazyLoad)="loadCarsLazy($event)"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="width: 20%;">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr style="height:46px">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:46px">
        <td *ngFor="let col of columns; let even = even">
          <p-skeleton
            [ngStyle]="{
              width: even ? (col.field === 'year' ? '30%' : '40%') : '60%'
            }"
          ></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
